h1{


}
img{
    margin: 0 auto;
    display: block;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
a{
    text-align: center;
}
div{
    text-align: center; 
}


